<script>
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.search_only_api_key }}',
  indexName: '{{ site.algolia.index_name }}',
  searchParameters: {
    restrictSearchableAttributes: [
      'title',
      'content'
    ]
  }
});

const hitTemplate = function(hit) {
  let date = '';
  if (hit.date) {
    date = moment.unix(hit.date).format('MMM D, YYYY');
  }
  const url = hit.url;
  const title = hit._highlightResult.title.value;
  const content = hit._highlightResult.html.value;

  return `
  <h2 class="post-title"><a href="${url}">${title}</a></h2>
  <div class="post-meta">
      <div class="post-time">
          <i class="fa fa-calendar-alt"></i>
          <time datetime='${date}'>${date}</time>
      </div>
      <ul>
          <li><a href="${tag}">${tag}</a></li>
      </ul>
  </div>
  <div class="row">
    <div class="col-sm-2 media">
      <a href="${url}">
        <img src="/${image}" alt="${description}" class="align-self-start mr-3">
      </a>
    </div>
    <div class="post-descr col-sm-10">
      <p>${content}</p>
      <span><em>${authors}</em></span>
    </div>
  </div>
  `;
}


search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'Яку статтю ви шукаєте?'

  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    templates: {
      item: hitTemplate
    }
  })
);

search.start();
</script>

<style>
.ais-search-box {
  max-width: 100%;
  margin-bottom: 15px;
}
.post-item {
  margin-bottom: 30px;
}
.post-link .ais-Highlight {
  color: #111;
  font-style: normal;
  text-decoration: underline;
  background-color: yellow;
}
.post-snippet .ais-Highlight {
  color: #2a7ae2;
  font-style: normal;
  font-weight: bold;
  background-color: yellow;
}
</style>
