<script>
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.search_only_api_key }}',
  indexName: '{{ site.algolia.index_name }}',
  searchParameters: {
    restrictSearchableAttributes: [
      'title',
      'content'
    ]
  }
});

const hitTemplate = function(hit) {
  let date = '';
  if (hit.date) {
    date = moment.unix(hit.date).format('MMM D, YYYY');
  }
  const url = hit.url;
  const title = hit._highlightResult.title.value;
  const content = hit._highlightResult.html.value;

  return `
  <div class="post-time">
      <i class="fa fa-calendar-alt"></i>
      <time datetime='${date}'>${date}</time>
  </div>
  <h2 class="post-title"><a href="${url}">${title}</a></h2>
  <div class="post-descr"><p>${content}</p></div>
  `;
}


search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'Яку статтю ви шукаєте?'
    poweredBy: true // This is required if you're on the free Community plan
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    templates: {
      item: hitTemplate
    }
  })
);

search.start();
</script>

<style>
.ais-search-box {
  max-width: 100%;
  margin-bottom: 10px;
}
.post-title .ais-Highlight {
  color: #111;
  font-style: normal;
  text-decoration: underline;
  background-color: yellow;
}
.post-descr .ais-Highlight {
  color: #2a7ae2;
  font-style: normal;
  font-weight: bold;
  background-color: yellow;
}
</style>
