<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ '' | relative_url }}/"><i class="fas fa-square-root-alt"></i> {{ site.name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ '' | relative_url }}/" data-toggle="tooltip" data-placement="bottom" title="На головну">[ <i class="fas fa-home"></i> ]</a>
                <a class="nav-item nav-link" href="{{ 'archive.html' | relative_url }}" data-toggle="tooltip" data-placement="bottom" title="Увесь список статей">[ Архів ]</a>
                <a class="nav-item nav-link" href="{{ 'tags.html' | relative_url }}" data-toggle="tooltip" data-placement="bottom" title="Всі мітки та ключові слова">[ Мітки ]</a>
                <a class="nav-item nav-link" href="{{ 'about.html' | relative_url }}" data-toggle="tooltip" data-placement="bottom" title="Деяка інформація ">[ Про сайт ]</a>
                <a class="nav-item nav-link" href="{{ 'contact.html' | relative_url }}" data-toggle="tooltip" data-placement="bottom" title="Написати повідомлення">[ Зв'язок ]</a>
                <a class="nav-item nav-link" href="{{ 'api.html' | relative_url }}" data-toggle="tooltip" data-placement="bottom" title="API">[ API ]</a>

            </div>
        </div>
    </div>
</nav>
