---
layout: compress
---

{% include header.html %}
    <div class="wrapper">
      <div class="content">
        <div class="container container-center">
          <div class="row">
            <div class="col-md-8 offset-md-1">
              <div class="container-promo">
                <div class="post-promo">
                  <h2>ДЕКАРТ</h2>
                  <p class="lead">Каталог статей з математики</p>
                </div>
                <div class="boxline">
                  <div class="box-sm red"></div>
                  <div class="box-sm orange"></div>
                  <div class="box-sm yellow"></div>
                  <div class="box-sm green"></div>
                  <div class="box-sm blue"></div>
                  <div class="box-sm purple"></div>
                </div>
              </div>
              <div class="card">
                {{ content }}
              </div>
            </div>
            <div class="col-md-3 hidden-xs">
              {% include algolia-box-sidebar.html %}
              {% include last-post-sidebar.html %}
              {% include tag-list-sidebar.html %}
              {% include rene-sidebar.html %}
              {% include etcadmin.html %}
            </div>
          </div>
        </div>
      </div>
      {% include algolia-bar.html %}
      {% include footer.html %}
    </div>
    {% include fancybox-js.html %}
  </body>
</html>
